body {
  font-family: roboto;
  background-color: whitesmoke;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.logo {
  margin-top: 20%;
  width: 150px;
  height: auto;
}

.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #332885;
}
.column {
  margin-left: 20px;
  float: left;
}

img {
  margin: 15%;
  width: 320px;
  height: 320px;
}

.details {
  margin-top: 10px;
  margin-left: 15%;
  text-align: justify;
  font-family: roboto;
  color: #332885;
  font-weight: bold;
  font-size: 20px;
  line-height: 0.5;
}
